.container {
  margin-top: 20px;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
}
.invisible {
  display: none;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.nav {
  height: 100px;
}
.nav-link {
  color: #b40504 !important;
  font-size: 28px;
  line-height: 25px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}
.nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  .nav-link {
    color: #b40504;
    font-size: 25px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 575px) {
  .invisible {
    display: block;
    visibility: hidden;
  }
  .container {
    margin-top: 10px;
  }
  .nav-link {
    color: #b40504;
    font-size: 22px;
    line-height: 18px;
  }
  .wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;

  }
  .navbar-nav {
    text-align: end;
  }
}
@media only screen and (max-width: 450px) {
  .navbar-nav {
flex-direction: row;
justify-content: center;
gap: 15px;
 }
  .nav-link {
    color: #b40504;
    font-size: 18px;
    line-height: 15px;
  }
}
