.container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.nav {
  height: 100px;
}
.nav-link {
  color: #b40504;
  font-size: 28px;
  line-height: 25px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}
.nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  .nav-link {
    color: #b40504;
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .nav-link {
    color: #b40504;
    font-size: 20px;
    line-height: 20px;
  }
}
