<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="day-content">
    <div class="img-container">
      <img [src]="img" alt="" />
    </div>
    <div class="text-container">
      <h2 class="title">{{ day!.title }}</h2>
      <p>{{ day!.content }}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <p class='link' (click)="share()">Поделиться</p>
</div>
