<div id="calendar" class="container">
  <div class="calendar-title">
    <h2 class="title">{{ calendar.title1 }}<br />{{ calendar.title2 }}</h2>
    <p>{{ calendar.content }}</p>
  </div>
  <div class="calendar-list">
    <div
      class="calendar-day card no-ho"
      [ngClass]="{'disabled': +day.number > today, 'today': +day.number == today}"
      [style]="{ 'grid-area': 'd' + day.number, background: day.background }"
      *ngFor="let day of dayListService.days"
      (click)="handleClick(day)"
    >
      <p [style]="{ color: day.numberColor }">{{ day.number }}</p>
    </div>
    <div class="calendar-day ho-ho card">
      <img src="../../../assets/pics/hohoho.png" alt="hohoho" />
    </div>
  </div>
</div>
